*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
}
/* css for header */
header {
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo a {
    color: #340c0cac;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: #2a2323;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f0a500;
}
/* Responsive styles for header */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        gap: 0;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }
}
/* css for main */
h1 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 3rem;
}
#oimg{
    width: 2.8rem;
    border-radius: 50%;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
#oimg {
    width: 50px;
    height: auto;
    animation: fadeIn 2s ease-in-out, bounce 2s ease-in-out 2s;
}
#countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

article img {
    max-width: 100%;
    border-radius: 4px;
}

article h2 {
    font-size: 1.2em;
    margin: 10px 0;
}
/* footer styles*/

footer {
    width: 100%;
    background-color: #625a5a;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    border-radius: 25px;
}
.footer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; 
    text-align: center;
}

.footer-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
@media (min-width: 600px) {
    .footer-container {
        padding: 0;
    }
}
.footer-menu-area {
    display: flex;
    justify-content: space-between;
}
.copyright {
    border-top: 2px solid #ddd;
    padding-top: 1rem;
}
.footer-menu {
    display: flex;
    gap: 1rem;
}
.footer-menu li{
    list-style: none;
}
.footer-menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.footer-menu a:hover {
    color:red;
}
